<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Турнирная сетка</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>


    <main class="main">
        <!-- Absoluted Box flying over screen ( might be ) -->
        <div class="third-box">
            <p class="third-box-title title">3rd Place</p>
            <div class="teams">
                <div class="round">
                    <div class="team row">
                        <img class="team-logo" src="/images/serral.svg" alt="">
                        <div class="dropdown">
                            <div class="hidden-group">
                                <img class="hidden" src="/images/rogue.svg" alt="">
                            </div>
                            <div class="hidden-group">
                                <img class="hidden" src="/images/maru.svg" alt="">
                            </div>
                        </div>
                        <div class="team-name">
                            <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                        </div>
                    </div>
                    <div class="team row">
                        <img class="team-logo" src="/images/serral.svg" alt="">
                        <div class="dropdown">
                            <div class="hidden-group">
                                <img class="hidden" src="/images/rogue.svg" alt="">
                            </div>
                            <div class="hidden-group">
                                <img class="hidden" src="/images/maru.svg" alt="">
                            </div>
                        </div>
                        <div class="team-name">
                            <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                        </div>
                    </div>
                </div>
                <div class="round-connecter"></div>
                <div class="round round2">
                    <div class="team row">
                        <img class="team-logo" src="/images/serral.svg" alt="">
                        <div class="dropdown">
                            <div class="hidden-group">
                                <img class="hidden" src="/images/rogue.svg" alt="">
                            </div>
                            <div class="hidden-group">
                                <img class="hidden" src="/images/maru.svg" alt="">
                            </div>
                        </div>
                        <div class="team-name">
                            <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Absoluted Box flying over screen ( might be ) -->
        <header>
            <img src="/images/frakcium.svg" alt="frakcium logo">
            <img src="/images/starcraft.svg" alt="starcraft logo">
        </header>
        <div class="container">
            <div class="tournament">
                <div class="act">
                    <h2 class="title">quarterfinals</h2>
                    <div class="round">
                        <div class="team row">
                            <img class="team-logo" src="/images/serral.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/maru.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="team row">
                            <img class="team-logo" src="/images/maru.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="round-connector"></div>
                        <div class="round-connector"></div>
                    </div>
                    <div class="round">
                        <div class="team row">
                            <img class="team-logo" src="/images/maru.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="team row">
                            <img class="team-logo" src="/images/maru.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="round-connector"></div>
                        <div class="round-connector"></div>
                    </div>
                    <div class="round active">
                        <div class="team row">
                            <img class="team-logo" src="/images/rogue.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/maru.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="team row">
                            <img class="team-logo" src="/images/serral.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/maru.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="round-connector"></div>
                        <div class="round-connector"></div>
                    </div>
                    <div class="round">
                        <div class="team row">
                            <img class="team-logo" src="/images/maru.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="team row">
                            <img class="team-logo" src="/images/maru.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="round-connector"></div>
                        <div class="round-connector"></div>
                    </div>
                </div>
                <div class="act">
                    <h2 class="title">semifinals</h2>
                    <div class="round">
                        <div class="team row">
                            <img class="team-logo" src="/images/maru.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="team row">
                            <img class="team-logo" src="/images/serral.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/maru.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="round-connector"></div>
                        <div class="round-connector"></div>
                    </div>
                    <div class="round">
                        <div class="team row">
                            <img class="team-logo" src="/images/maru.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="team row">
                            <img class="team-logo" src="/images/maru.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="round-connector"></div>
                        <div class="round-connector"></div>
                    </div>
                </div>
                <div class="act">
                    <h2 class="title">finals</h2>
                    <div class="round">
                        <div class="team row">
                            <img class="team-logo" src="/images/rogue.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/maru.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="team row">
                            <img class="team-logo" src="/images/maru.svg" alt="">
                            <div class="dropdown">
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/rogue.svg" alt="">
                                </div>
                                <div class="hidden-group">
                                    <img class="hidden" src="/images/serral.svg" alt="">
                                </div>
                            </div>
                            <div class="team-name">
                                <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                            </div>
                        </div>
                        <div class="round-connector"></div>
                        <div class="round-connector"></div>
                    </div>
                </div>
                <section class="winner">
                    <div class="title">winner</div>
                    <h2>
                        <input type="text" class="groupName-input" placeholder="Enter name of the group...">
                    </h2>
                </section>
            </div>
        </div>
    </main>
    <aside class="sidebar container col">
        <h1>katowice<br>2022<br>october 30</h1>
        <hr>
        <div class="sponsors">
            <p>our sponsors</p>
            <div class="container col">
                <label title="Image here" class="custom-label" for="custom-field">
                    <output class="output-image">
                        <img src="/images/reset.png" class="custom-label-reset" alt="">
                    </output>
                    <div class="sponsor-box">
                        <img src="../images/upload.png" alt="">
                    </div>
                </label>
                <input id="custom-field" accept="image/jpeg, image/png, image/jpg" type="file" class="sponsors-image">
            </div>
        </div>
        <div class="socials">
            <p>watch live on:</p>
            <div class="container row">
                <a href="#!" onclick="locateTo('./template/index.html')">Go to template</a>
                <a href="https://facebook.com"><img src="/images/facebook.svg" alt="intel logo"></a>
                <a href="https://twitch.tv"><img src="/images/twitch.svg" alt="intel logo"></a>
                <a href="https://twitter.com"><img src="/images/twitter.svg" alt="intel logo"></a>
            </div>
        </div>
    </aside>

    <style scoped>
        .sidebar .container {
            max-width: 100%;
            width: 100%;
        }
    </style>

    <script src="../library/main.js"></script>
</body>

</html>