@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Outfit:wght@700&display=swap");

html,
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Koulen", cursive;

}

html {
  /* Full Page */
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  padding: 20px 80px;
  background-size: cover;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  position: relative;
}

main header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  height: 20vh;
}

main header img {
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar {
  color: #F5F5F5;
  padding: 80px 50px 0;
  min-width: 385px;
  background-color: #FD6300;
  height: 100vh;
}

.sidebar .container {
  gap: 20px;
  margin: 20px 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.sidebar h1 {
  font-size: 64px;
}

.sidebar hr {
  border: none;
  height: 20px;
  margin: 40px 0;
  background-color: #F5F5F5;
}

.sidebar .sponsors {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar .socials {
  margin: auto 0 50px;
}

.sidebar p {
  font-size: 36px;
}

.winner {
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 270px;
  color: #F5F5F5;
  margin: auto;
  height: 120px;
  font-size: 64px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD6300), to(#F00000));
  background: linear-gradient(180deg, #FD6300 0%, #F00000 100%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.55);
}

.table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.table div {
  border: 1px solid red;
}

.title {
  color: #F5F5F5;
  font-size: 24px;
  text-align: center;
  margin: 20px;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: -70px;
  right: 0;
  left: 0;
}

.winner .title {
  top: -100px;
  font-size: 48px;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.55);
}

.tournament {
  gap: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1400px;
  height: 70vh;
}

.tournament .act {
  -webkit-filter: drop-shadow(0px 10px 14px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 10px 14px rgba(0, 0, 0, 0.8));
  position: relative;
  margin: auto 0;
}

.tournament .act:nth-of-type(1) .round {
  margin: 0 0 35px 0;
}

.tournament .act:nth-of-type(1) .round::after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55.21%, #E66919), to(#FF8E3F));
  background: linear-gradient(180deg, #E66919 55.21%, #FF8E3F 100%);
}

.tournament .act:nth-of-type(2) {
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
}

.tournament .act:nth-of-type(2) .round::after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55.21%, #2838CA), to(#0D1DAF));
  background: linear-gradient(180deg, #2838CA 55.21%, #0D1DAF 100%);
}

.tournament .act:nth-of-type(2) .round:nth-of-type(odd) {
  margin: 0 0 175px 0;
}

.tournament .act:nth-of-type(2) .round .round-connector {
  height: 120px;
}

.tournament .act:nth-of-type(2) .round:nth-of-type(even) .round-connector:nth-of-type(odd) {
  top: -90px;
}

.tournament .act:nth-of-type(2) .round:nth-of-type(even) .round-connector:nth-of-type(even) {
  top: -70px;
}

.tournament .act:nth-of-type(3) {
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
}

.tournament .act:nth-of-type(3) .round::after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55.21%, #E61919), to(#CE0101));
  background: linear-gradient(180deg, #E61919 55.21%, #CE0101 100%);
}

.tournament .act:last-of-type .round-connector {
  display: none;
}

.tournament .act .round:nth-of-type(odd) .round-connector {
  top: 50px;
  border-width: 5px 5px 0 0;
}

.tournament .act .round:nth-of-type(odd) .round-connector:nth-of-type(odd) {
  top: 70px;
  border-width: 0 0 5px 5px;
}

.tournament .act .round-connector {
  top: 0px;
  width: 100px;
  right: -100px;
  height: 50px;
  position: absolute;
  border-style: solid;
  border-color: #F5F5F5;
  border-width: 0 5px 5px 0;
  border-radius: 5px;
}

.tournament .act .round-connector:nth-of-type(odd) {
  top: -20px;
  width: 50px;
  right: -145px;
  border-width: 5px 0 0 5px;
}

.tournament .act .round {
  position: relative;
}

.tournament .act .round::after {
  content: 'B03';
  position: absolute;
  right: -50px;
  top: 20px;
  font-size: 30px;
  width: 60px;
  color: #F5F5F5;
  text-align: center;
  border-radius: 5px;
  padding: 15px 0;
}

.tournament .act .round.active::after {
  top: 18px;
  right: -53px;
  border: 3px solid black;
}

.tournament .act .round .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 200px;
  outline: 2px solid black;
  background-color: #F5F5F5;
  border-radius: 5px;
}

.dropdown-open {
  width: 50px;
  padding: 5px;
  background-color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tournament .act .round .team-logo {
  object-fit: contain;
  width: 3rem;
  height: 100%;
  background: black;
  padding: 5px;
}

.tournament .act .round .team-name {
  max-width: 140px;
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  color: black;
  line-height: 60%;
  display: inline;
}

/*# sourceMappingURL=style.css.map */

/* Template CSS styles */

.groupName-input {
  width: 100%;
  font-size: 15px;
  line-height: 150%;
  font-weight: 400;
  background: unset;
  border: none;
  border-bottom: 1px solid rgb(79, 79, 79);
  outline: none;
}

.groupName-input:focus {
  border-color: black;
}

.groupName-input::placeholder {
  font-size: 12px;
}

.winner .groupName-input {
  color: white;
  background: inherit;
  font-size: 22px;
  line-height: 22px;
}

.winner .groupName-input::placeholder {
  color: white;
  font-size: 22px;
  line-height: 22px;
}

.dropdown img {
  background: black;
  width: 100%;
  height: 100%;
  padding: 5px;
  cursor: pointer;
  filter: invert(50);
}

.hidden-group {
  width: 50px;
  height: 50px;
}

/* Team Row block relating on absolute dropdown */

.team-logo {
  cursor: pointer;
}

.team.row {
  position: relative;
  overflow: hidden;
  transition: .3s;
}
.team.row.visible {
  overflow: visible;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999999;
}


/* Third Place Box */

.teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 3rem;
}

.third-box .round-connector {
  top: 0px;
  width: 100px;
  right: -100px;
  height: 50px;
  position: absolute;
  border-style: solid;
  border-color: #F5F5F5;
  border-width: 0 5px 5px 0;
  border-radius: 5px;
}

.third-box {
  background: unset;
  width: 100%;
  max-width: 200px;
}

.third-box-title {
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  margin: 20px;
  text-align: center;
}

.third-box .team-name {
  font-size: 20px;
  line-height: 24px;
  width: 151px;
  margin: auto;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  color: black;
  line-height: 60%;
  display: inline;
}

.third-box .round {
  border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 99;
}

.third-box .round2 {
  z-index: 98;
}

.third-box .round::after {
  content: 'B03';
  position: absolute;
  right: -50px;
  top: 20px;
  font-size: 30px;
  width: 60px;
  color: #F5F5F5;
  text-align: center;
  background: #F00000;
  border-radius: 5px;
  padding: 15px 0;
}

.third-box .round2::after {
  content: '';
  display: none;
}

.third-box .round2::before {
  content: '';
  position: absolute;
  left: -100%;
  width: 100%;
  transform: translateY(-50%);
  height: 5px;
  background-color: white;
  top: 50%;
  z-index: 1;
}

.third-box {
  position: absolute;
  bottom: -200px;
  right: 0;
}

.third-box .team.row {
  border: 1px solid black;
  background: white;
  border-radius: 5px;
}

.third-box img {
  background: black;
  width: 50px;
  height: 50px;
  padding: 5px;
}

/* Sponsors drag&drop */
.sponsors-image {
  visibility: hidden;
}

.sponsor-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  max-width: 100%;
  border: 2px dashed #fff;
  cursor: pointer;
  position: relative;
}

.sponsor-box img {
  width: auto;
  height: 30px;
  margin: 0 auto;
  filter: brightness(1) invert(50);
}

.output-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}

.custom-label-reset {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 40px !important;
  height: 40px !important;
  filter: invert(50);
  z-index: -999;
  opacity: 0;
  visibility: hidden;

}

.output-image * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show-sponsor {
  transition: all .3s;
}

.show-sponsor:hover .custom-label-reset {
  z-index: 999;
  opacity: 1;
  visibility: visible;
}

/* Title */

.champ-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1rem;
}

.champ-title input {
  background: unset;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  width: 100%;
}

.champ-title::placeholder {
  color: white;
}

.save {
  background: #E66919;
  padding: 0.9rem 1.35rem;
  outline: none;
  border: none;
  height: 50px;
  border-radius: 2px;
  font-family: sans-serif;
  width: 100%;
  margin: auto;
  cursor: pointer;
}

.tour-type {
  position: absolute;
  left: 85%;
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
}

.tour-type input {
  width: 100%;
  height: 100%;
  font-size: 18px;
}